<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vfor Itteration</title>
</head>
<body>
    
    <div id="app">
       
        <ul class="books">
            <div class="header">
                <h2>Shopping Cart</h2>
                </div>
            <li v-for="book in books" :key="book">
                 {{book.name}} by {{book.author}}  price: {{book.price}}
                <img @click="changeImg(book)" :src="book.isClicked?icons[1]:icons[0]" alt="like button">
                <img @click="addToCart(book)" :src="cartIcon" alt="cart button">
            </li>
        </ul>
        <ul class="cart">
             <div class="header">
                <h2>Shopping Cart</h2>
                <h2>Tottal {{tottal}}$</h2>
                </div>
            <li v-for="book in cart" :key="book">
                 {{book.name}} by {{book.author}}  price: {{book.price}}
                <img @click="deleteFromCart(book)" :src="delIcon" alt="delBtn">
            </li>
        </ul>

        <div class="addBooks">
            <input v-model="newBook.name"  placeholder="Book name">
            <input v-model="newBook.author" placeholder="Book author">
            <input v-model.number="newBook.price" type="number" placeholder="Book price">
            <img @click="addStore" :src="addIcon" alt="add button">
        </div>

    </div>

</body>


<script>

    const app = Vue.createApp({
        data(){
            return{
                icons:['/images/likeEmpt.png','/images/likeFill.png'],
                books:[
                    {
                        name: 'C Prime',
                        author: 'Stephen Prata',
                        price: 23.5,
                        isClicked:false
                    },
                    {
                        name: 'Java Core',
                        author: 'Cay S.Horstmann',
                        price: 30.5,
                         isClicked:false
                    },
                    {
                        name: 'Spring Framwork',
                        author: 'Craig Walls',
                        price: 15.5,
                         isClicked:false
                    },
                    {
                        name: 'OS',
                        author: 'Abraham Silberchatz',
                        price: 23.5,
                         isClicked:false
                    },
                ],
                newBook:{
                    name:'',
                    author:'',
                    price:0
                },
                cart:[
                
                ],
                delIcon: '/images/del.png',
                cartIcon: '/images/shop.png',
                addIcon: '/images/addBtn.png',
                tottal: 0

            }
        },
        methods: {
            changeImg(book){
                book.isClicked = !book.isClicked;
            },

            deleteFromCart(book){
                const currIndex = this.cart.indexOf(book);

                if(currIndex!=-1){
                    this.cart.splice(currIndex,1);
                    this.tottal-=book.price;
                }
                
            },

            addToCart(book){
                this.cart.push(book);
                this.tottal+=book.price;
            },

            addStore(){

                if(this.newBook.name&&this.newBook.author&&this.newBook.price>0){
                    this.books.push({...this.newBook});
                    this.name = '';
                    this.author = '';
                    this.price = '';
                }

            }
        }
    })

    app.mount('#app')
</script>

</html>