*{
    background-color: rgb(8, 44, 95);
    color: white;
    margin: 0;
    padding: 0;
}


button{
    border: 0;
    background-color: darkred;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
}

button:hover{
    background-color: rgb(122, 2, 2);
    color: gray;
}