
button{
    border: 0;
    background-color: darkred;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
}

button:hover{
    background-color: rgb(122, 2, 2);
    color: gray;
    
}

img{
    width: 400px;
    height: 200px;
    object-fit: fill;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

a{
    width: 200px;
    text-decoration: none;
    background-color: rgb(10, 86, 208);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:hover{
    background-color: rgb(8, 69, 167);
    color: gray;
}

h2{
    color: rgb(0, 0, 0);
}

.icon{
    margin: 20px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.dark-icon{
    color: #fff;
}
.light-icon{
    color:#ffffff;
}

.dark-mode {
  background-color: #111;
  color: white;
}

.light-mode {
  background-color: #fff;
  color: black;
}